.title {
  margin: 3rem 0 1rem 5rem;
  color: $text-grey3-color;
  h1 {
    font-size: 2.4rem;
  }
}

.swiperText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: $text-grey3-color;
  strong {
    font-size: 1.4rem;
    display: block;
  }
  span {
    font-size: 1.2rem;
    display: block;
  }
}
